
//翠绿
.button-color-goon {
  background-color: #20B2AA !important;
  border-color: #20B2AA !important;
}
.button-color-goon:hover {
  background: #48D1CC !important;
  border-color: #48D1CC !important;
}

//粉红
.button-color-red {
  background-color: #ffa3a1 !important;
  border-color: #ffa3a1 !important;
}

.button-color-red:hover {
  background-color: #ffa3a1d6 !important;
  border-color: #ffa3a1d6 !important;
}

//浅绿
.button-color-jade-green {
  background-color: #84d9d2 !important;
  border-color: #84d9d2 !important;
}
.button-color-jade-green：hover {
  background-color: #84d9d2d6 !important;
  border-color: #84d9d2d6 !important;
}

//绿色
.button-color-green {
  background-color: #87de75 !important;
  border-color: #87de75!important;
}
.button-color-green:hover {
  background-color: #87de75d6 !important;
  border-color: #87de75d6 !important;
}

//浅蓝色
.button-color-blue {
  background-color: #a5e7f0 !important;
  border-color: #a5e7f0 !important;
}
.button-color-blue:hover {
  background-color: #a5e7f0d6 !important;
  border-color: #a5e7f0d6 !important;
}

//紫色
.button-color-violet {
  background-color: #93b7e3 !important;
  border-color: #93b7e3 !important;
}
.button-color-violet:hover {
  background-color: #93b7e3d6 !important;
  border-color: #93b7e3d6 !important;
}

//粉色
.button-color-pink {
  background-color: #edafda !important;
  border-color: #edafda !important;
}
.button-color-pink:hover {
  background-color: #edafdad6 !important;
  border-color: #edafdad6 !important;
}