@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';


body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

html {
  box-sizing: border-box;
 
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

div:focus {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//main-container全局样式
.app-main {
  min-height: 100%
}

.app-container {
  padding: 20px;
}

//搜索栏样式
.filter-container {}

//操作栏样式
.operate-container {
  margin-top: 20px;
}

.operate-container .btn-add {
  float: right;
}

//表格栏样式
.table-container {
  margin-top: 20px;
}

//批量操作栏样式
.batch-operate-container {
  display: inline-block;
  margin-top: 20px;
}

//分页栏样式
.pagination-container {
  display: inline-block;
  float: right;
  margin-top: 20px;
}

//添加、更新表单样式
.form-container {
  position: absolute;
  left: 0;
  right: 0;
  width: 720px;
  padding: 35px 35px 15px 35px;
  margin: 20px auto;
}

//主标题
.font-extra-large {
  font-size: 20px;
  color: #303133;
}

//标题
.font-title-large {
  font-size: 18px;
  color: #303133;
}

//小标题
.font-title-medium {
  font-size: 16px;
  color: #303133;
}

//正文
.font-medium {
  font-size: 16px;
  color: #606266;
}

//正文
.font-small {
  font-size: 14px;
  color: #606266;
}

//正文（小）
.font-extra-small {
  font-size: 13px;
  color: #606266;
}

.color-main {
  color: #409EFF;
}

.color-success {
  color: #67C23A;
}

.color-warning {
  color: #E6A23C;
}

.color-danger {
  color: #F56C6C;
}

.color-info {
  color: #909399;
}

//
.button-color-goon {
  background-color: #20B2AA;
  border-color: #20B2AA;
}

.button-color-goon:hover {
  background: #48D1CC;
  border-color: #48D1CC;
}

//粉红
.button-color-red {
  background-color: #ffa3a1;
  border-color: #ffa3a1;
}

.button-color-red:hover {
  background-color: #ffa3a1d6;
  border-color: #ffa3a1d6;
}

//翠绿
.button-color-jade-green {
  background-color: #84d9d2;
  border-color: #84d9d2;
}

.button-color-jade-green：hover {
  background-color: #84d9d2d6;
  border-color: #84d9d2d6;
}

//绿色
.button-color-green {
  background-color: #87de75;
  border-color: #87de75
}

.button-color-green:hover {
  background-color: #87de75d6;
  border-color: #87de75d6;
}

//浅蓝色
.button-color-blue {
  background-color: #a5e7f0;
  border-color: #a5e7f0;
}

.button-color-blue:hover {
  background-color: #a5e7f0d6;
  border-color: #a5e7f0d6;
}

//紫色
.button-color-violet {
  background-color: #93b7e3;
  border-color: #93b7e3;
}

.button-color-violet:hover {
  background-color: #93b7e3d6;
  border-color: #93b7e3d6;
}

//粉色
.button-color-pink {
  background-color: #edafda;
  border-color: #edafda;
}

.button-color-pink:hover {
  background-color: #edafdad6;
  border-color: #edafdad6;
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

.text-center {
  text-align: center
}